.container{
   
    .image-section{
        .image{
            
        width: 400px;
         height: 400px;

        }
       
    }
    .details-section{
        
      
       
        .list-item{
            margin-bottom: 2rem;
            font-size: 20px;
            .varient-list{
                padding: 1rem 0 ;
                
              
          
            } 
           
        
       }
    }
}