
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="image-section">
        <img
          class="image"
          src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="col-md-7">
      <div class="details-section">
        <ul>
          <li class="list-item"><strong>Name: </strong> {{ product.name }}</li>
          <li class="list-item">
            <strong>ProductType: </strong> {{ product.productType }}
          </li>
          <li class="list-item">
            <strong>ProductBrand: </strong> {{ product.productBrand }}
          </li>
          <li class="list-item">
            <strong>Price: </strong> {{ product.price }}L.E
          </li>
          <li class="list-item">
            <strong>Description: </strong> {{ product.description }}
          </li>
          <li class="list-item">
            <strong>variants: </strong>
            @for (variant of product.variants; track $index) {
            <ul >
              <li class="varient-list">
                Color :{{ variant.color }}  | Size : {{ variant.size }} | Price
                :{{ variant.price }}L.E
              </li>
            </ul>
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
