<div class="product-details-container">
  <div class="product-details-content">
    <div class="item-image">
      <img
        src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
        alt="Product Image"
      />
    </div>
    <div class="item-details">
      <p>{{ product.description }}</p>
      <p>{{ product.productType }}</p>
      <p>{{ product.name }}</p>
      <p>{{ product.productBrand }}</p>
      <p>{{ product.price }} EGP</p>
      <hr />
      <div>
        <label for="">
          <input type="radio"  />
        </label>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="image-section">
        <img
          class="image"
          src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="details-section">
        <ul>
          <li class="list-item">{{ product.name }}</li>
          <li class="list-item">
             {{ product.productType }}
          </li>
          <li class="list-item">
             {{ product.productBrand }}
          </li>
          <li class="list-item">
           {{ product.price }}L.E
          </li>
          <li class="list-item">
             {{ product.description }}
          </li>
          <li class="list-item">
          
            @for (variant of product.variants; track $index) {
            <ul >
              <li class="varient-list">
                Color :{{ variant.color }}  | Size : {{ variant.size }} | Price
                :{{ variant.price }}L.E
              </li>
            </ul>
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
