.cart-container {
  padding: 20px;
  border: 1px bold #ddd;
  background-color: #fff;

  .cart-title {
    font-size: 25px;
  }

  .shopping-cart {
    .cart-price {
      padding-right: 2rem;
      text-align: right;
    }
  }

  .cart-items {
    display: flex;
    gap: 50px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    .item-image img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
    .item-details {
      flex: 1;
      p {
        margin-bottom: 0;
        font-weight: bold;
      }
    }
    .item-actions {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      max-width: 400px;
    }
  }
  .order-product {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;

    .subtotal-price {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  font-size: 20px;
  height: 300px;
  border: 1px bold #ddd;
  background-color: #fff;

  .shop-product-link {
    color: #2162a1;
    text-decoration: none;
    margin-top: 2rem;
  }
  .shop-product-link:hover {
    text-decoration: underline;
  }
  .form-control {
    max-width: 25%;
    background-color: #ffd814;
    cursor: pointer;
    text-align: center;
  }
  .input-login {
    margin-top: 2rem;
  }
}
