.first-div{
    background-image: url('../../../assets/images/login/login.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The dark overlay */
.first-div .overlay {
  position: absolute;
  inset: 0;
  // width:100%;
  // height:100%;
  // left: 0;
  // top:0;
  background: rgba(0,0,0,0.7);  // darkness level
  z-index: 1;
}

/* The content stays above overlay */
.first-div .content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.content h2{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 43px;
}

.content p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 27px;
}

.auth-links .btn {
  font-family: "Roboto", sans-serif;
  margin-top: 35px;
  padding:10px 30px !important;
  font-size:18px;
  font-weight:500;
  border-radius: 10px;
  color: white;
 


}