<section class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0">
        <div class="first-div position-relative">
          <div class="overlay"></div>
          <div class="content text-start p-4">
            <h2 class="text-capitalize">Welcome to OurShop</h2>
            <p>
            We are here to deliver the best products for you to select from it
            <br> let's start with you login with your account
            <br> or create a one if you don't have</p>

            <div class="auth-links">
              <a routerLink="/auth/register" class="btn btn-warning"
                >Create Account</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="content">
          <h1 class="mb-5">Our Shop</h1>
          <h2 class="text-black">Log In</h2>
          <p>
            Welcome back! Please enter your details to log in to your account.
          </p>

          

        </div>
      </div>
    </div>
  </div>
</section>
