<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to OurShop</h2>
                <p>We are here to deliver the best products for you to select from it</p>
                <p>let's start with you login with your account</p>
                <p>or create a one if you don't have</p>

                <div class="auth-links">
                    <a routerLink="/auth/register" class="btn btn-primary">Create Account</a>
                </div>

            </div>

            <div class="col-md-6">
                <h2>Login</h2>

            </div>
        </div>
    </div>
</section>
