<nav class="bg-dark text-white p-2 fixed-top">
  <div class="d-flex justify-content-between align-items-center">
    <!-- كارت على اليمين -->
    <div routerLink="['/']">
      logo

    </div>

    <!-- اللوجو + المينيو في النص -->
    <div class="d-flex justify-content-center align-items-center">
      <a class=" text-decoration-none  me-4"  [routerLink]="['/']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        Home
      </a>
      <a class="text-decoration-none me-3" routerLink="/shop" routerLinkActive="active">Shop</a>
      <a class="text-decoration-none me-3">contact</a>
    </div>

    <!-- مساحة فاضية علشان الكارت يكون على اليمين -->
    <div class="position-relative">
      <i class="fa fa-shopping-cart fs-4 text-white"></i>
      <span class="cart-no">3</span>
    </div>
  </div>
</nav>