.main-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding: 20px;
  // position: relative;
  .menu-icon {
    position: absolute;
    top: 20%;
    left: 20%;
  }

  .product-item {
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    app-sidebar {
      display: none;
    }
  }
  @media (min-width: 769px) {
  }
}
