/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Importing Datepicker SCSS file. */
@import "@fortawesome/fontawesome-free/css/all.min.css";

// @import 'primeflex/primeflex.css';
// @import 'primeicons/primeicons.css';


:root body {
  background-color: #F1F3F4 !important; /* Last resort */
  height: 100%;
  ul{
    margin: 0;
    padding: 0;
  }
  
  
  
}

 
 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
