<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/default.jpg" class="img-fluid bg-light" alt="{{product.name}}">
        <div class="card-body d-flex flex-column">

            <h5 class="card-title text-uppercase">{{product.name}}</h5>
            <span class="mb-2">{{product.price | currency}}</span>
            <p class="card-text">{{product.description}}</p>
            <button type="button" class="btn btn-outline-secondary  mr-2" (click)="addToCart(product)"> <i class="fa-solid fa-cart-shopping"></i></button>
            <button type="button" class="btn btn-outline-secondary  mr-2"> View</button>

        </div>
    </div>
</div>
