
<div class="card-section">
  <mat-card class="item-card" appearance="outlined">
    <mat-card-header class="item-header">
        <div mat-card-avatar class="item-header-image"></div>
        <mat-card-title class="item-title" title="{{product().name}}">{{product().name}}</mat-card-title>
        <mat-card-subtitle class="item-subtitle">{{product().price}}L.E</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="card-content">
      <p class="card-text"  title="{{product().description}}">
       {{product().description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="card-action"> 
      @if (!selected) {
        <div class="cart-buttons-box">
          <button mat-raised-button class="add-cart-button" (click)="toggleSelection()">
          <span>Add To Cart <i class="fa-solid fa-cart-shopping"></i></span>
          </button>
          <button mat-raised-button  class="view-cart-button" (click)="goToProductDetails(product().id)">View</button>
        </div>

    }
    @else {
   
      <div >
         <mat-form-field appearance="fill">

           <mat-label>Quantity</mat-label>
           <input type="number"  class="form-control" placeholder="0">
       
         </mat-form-field>
       
         <button mat-raised-button class="add-cart-button" (click)="addToCart()">add</button>
      </div>

    }
      
      
    </mat-card-actions>
  </mat-card>

</div>

